/*inicio */

h1.navbar.navbar-default  {
	text-align: center;
	background-color: #337ab7;
	border-color: #2e6da4;
	color: white;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: 6.8%;
	margin-left: 2.5%;
	/*position: fixed;*/
	width: 95%;	
}


div.detalhesProd {
	width: 50%;
	margin-top: 5%;
	margin-left: 18.5%;
}

footer {
	position: relative;
	margin-top: 44.4% !important;
	margin-bottom: 0 !important;
}




/*fim*/