*{
	font-family: sans-serif;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 90vh;
    margin: 0;
}

.full-height {
    max-height: 90vh !important;
    height: 90vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    margin-top: -15%;
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;                
}

.m-b-md {
    margin-bottom: 20%;
}

footer {
    margin-top: -4.4% !important;
    margin-bottom: 0 !important;
}

@media only screen and (max-width: 500px) {

	nav.navbar.navbar-default {
	/*display: inline-table !important;*/
	height: 20px !important;
	float: left;
	}

	a.navbar-brand {
 		/*display: inline-table !important;		*/
		font-size: 1rem !important;
		width: 65%;

	}

	a.listar {
		/*display: inline !important;*/
		width: 20%;
		font-size: .7rem !important;
		padding: 0;
		float: right;
	}

	ul a {
		margin-top: -15% !important;
		padding: 1.7rem 2rem !important;
	}

	h1.navbar.navbar-default {
		font-size: 1.5rem !important;
		padding-top: 5% !important;
		margin-top: 0 !important;
	}

	h4 {
		font-size: 1rem !important;
	}


	footer {
		width: 100% !important;
		padding-top: 2.5% !important;

	}

	footer.navbar.navbar-default > p {
		font-size: .9rem !important;
	}
}